<h1 mat-dialog-title>Registro</h1>
<!-- <form [formGroup]="Reactiveform" (ngSubmit)="SaveEmployee()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input placeholder="Code" matInput formControlName="code">
        </mat-form-field>
        <mat-form-field>
            <mat-label>title</mat-label>
            <input placeholder="Name" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>body</mat-label>
            <input placeholder="Email" matInput formControlName="email">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
    </div>
</form> -->